/* ===== Modern Reset ===== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre {
    margin: 0;
}

/* ===== Fonts ===== */
@font-face {
    font-family: 'Gotham Pro';
    src: url('../assets/fonts/GothamPro/GothamPro.woff2') format('woff2'),
        url('../assets/fonts/GothamPro/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../assets/fonts/GothamPro/GothamPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/GothamPro/GothamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../assets/fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
        url('../assets/fonts/GothamPro/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}