/* ===== Header ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: clamp(16px, 2.5vw, 48px);
    padding-left: clamp(24px, 4vw, 76px);
    padding-right: clamp(24px, 4vw, 80px);
    font-weight: normal;
    font-style: normal;
    font-size: clamp(16px, 1.25vw, 24px);
    color: #333333;
}

.logo {
    width: clamp(120px, 8vw, 170px);
    height: auto;
    flex-shrink: 0;
}

.navigation {
    display: flex;
    gap: clamp(24px, 5vw, 96px);
}

/* ===== Hero Section ===== */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: clamp(100px, 13.75vw, 144px);
    padding-left: clamp(200px, 28.2vw, 542px);
    padding-right: clamp(200px, 28.2vw, 542px);
    text-align: center;
}

.hero h1 {
    color: #333333;
    font-size: clamp(1.5rem, 5vw, 60px);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
    width: clamp(300px, 43.75vw, 840px);
}

.hero p {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0;
    width: clamp(312px, 29.75vw, 560px);
    margin: 0 auto;
    padding-top: clamp(40px, 2.92vw, 56px);
}

.hero img {
    position: absolute;
    left: 0;
}

.hero .gpraph-1 {
    width: clamp(900px, 99.1vw, 1903px);
    height: clamp(199px, 21vw, 402px);
    top: 140px;
    left: 4.96px;
}

.hero .gpraph-2 {
    width: clamp(932px, 100vw, 1920px);
    height: clamp(200px, 20.8vw, 400px);
    top: 285px;
}

.hero .eth {
    top: clamp(60px, 6.35vw, 122px);
    left: clamp(100px, 11.15vw, 214px);
}

.hero .fct {
    top: clamp(170px, 17.9vw, 344px);
    left: clamp(230px, 23.75vw, 456px);
}

.hero .btc {
    top: clamp(30px, 3.02vw, 58px);
    left: clamp(1000px, 70vw, 1344px);
}

.hero .rpl {
    top: clamp(213px, 22.27vw, 427.54px);
    left: clamp(701px, 73.05vw, 1402.18px);
}

/* ===== Product Info ===== */
.product-info {
    position: relative;
}

.product-info .computer {
    margin: clamp(24px, 1.7vw, 32px);
    padding-left: clamp(1px, 7.5vw, 106px);
}

.product-info .preview-info {
    display: flex;
    position: relative;
    width: 1760px;
}

.product-info .preview-info div {
    position: absolute;
    padding-left: clamp(32px, 63.3vw, 1216px);
    top: 300px;
    
}

.product-info .preview-info div h2 {
    color: #1BAAD1;
    font-size: 3rem;
    font-weight: 700;
}

.product-info .preview-info div p {
    color: #333333;
    font-size: 1.875rem;
    font-weight: 400;
}


.product-info .spot-1 {
    position: absolute;
    right: 0;
    top: 8px;
    z-index: -1;
}

/* ===== Benefits ===== */
.benefits {
    display: flex;
    justify-content: center;
    margin-top: clamp(96px, 5.83vw, 112px);
}

.benefits .benefit-card {
    width: clamp(296px, 21.7vw, 416px);
    height: clamp(425px, 28.75vw, 552px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border: solid 1px #D7D7D7;
    border-radius: 24px;
}

.benefits .benefit-card h4 {
    font-size: 1.5rem;
    margin-bottom: 24px;
    width: 238px;
}

.benefits .benefit-card p {
    font-size: clamp(14px, 0.94vw, 18px);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 24px;
    width: 289px;
}

.benefits .arrow {
    margin: 24px;
}

.benefits .benefit-card:nth-of-type(2) {
    margin-top: -24px;
}

/* ===== Advantages of Cloud Mining  ===== */
.cloud-mining-advantages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cloud-mining-advantages .bg-comparison {
    position: absolute;
    width: clamp(256px, 27.34vw, 525px);
    left: 0;
    top: clamp(115px, 10.42vw, 200px);
    z-index: -1;
}

.cloud-mining-advantages .title {
    font-weight: 700;
    font-size: clamp(24px, 2.5vw, 48px);
    margin-top: clamp(96px, 7.1vw, 136px);
}

.cloud-mining-advantages .comparison {
    display: flex;
    gap: clamp(16px, 1.7vw, 32px);
    margin-top: clamp(24px, 3.75vw, 72px);
}

.cloud-mining-advantages .comparison .card {
    width: clamp(272px, 35.84vw, 688px);
    height: clamp(104px, 10.84vw, 208px);
    background: #E7E9E8;
    border-radius: 12px;
    overflow: hidden;
}

.cloud-mining-advantages .comparison .card .card-header {
    height: 16px;
}

.cloud-mining-advantages .comparison .card .card-content h3 {
    font-weight: 700;
    font-size: clamp(18px, 1.875vw, 36px);
    line-height: clamp(1, 1.15, 1.3);
    letter-spacing: 0;
    z-index: 1;
}

.cloud-mining-advantages .comparison .card.green .card-header {
    background: #87B645;
}

.cloud-mining-advantages .comparison .card.red .card-header {
    background: #EB5757;
}

.cloud-mining-advantages .comparison .card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(16px, 1.7vw, 32px);
    padding: 16px;
}

.cloud-mining-advantages .comparison .card .card-content .comparison-icon {
    width: clamp(48px, 6.7vw, 128px);
    height: clamp(48px, 6.7vw, 128px);
}

.cloud-mining-advantages .comparison .card .card-content .img-bg-content {
    position: absolute;
    right: 0;
}

.cloud-mining-advantages .comparison .card .card-content .img-bg-content.problems {
    width: clamp(63px, 7.5vw, 144px);
    height: clamp(56px, 6.7vw, 128px);
}

.cloud-mining-advantages .comparison .card .card-content .img-bg-content.advantages {
    width: clamp(88px, 10.83vw, 208px);
    height: clamp(56px, 6.7vw, 128px);
}

/* ===== Advantages of Cloud Mining (Items) ===== */
.cloud-mining-advantages .comparison .item {
    display: flex;
    align-items: center;
    width: clamp(256px, 33.33vw, 640px);
    min-height: clamp(80px, 5.83vw, 112px);
    margin-top: 24px;
    border-radius: 4px 8px;
}

.cloud-mining-advantages .comparison .item:nth-child(even) {
    background: #ECECEC;
}

.cloud-mining-advantages .comparison .item p {
    padding-left: 32px;
    width: clamp(232px, 30.83vw, 592px);
}

.cloud-mining-advantages .comparison .item .left-part {
    background-color: #EB5757;
    width: clamp(3.2px, 0.42vw, 8px);
    height: 100%;
    border-radius: 8px;
}

.cloud-mining-advantages .comparison .item.prb .left-part {
    background-color: #EB5757;
}

.cloud-mining-advantages .comparison .item.adv .left-part {
    background-color: #87B645;
}














/* ===== Footer ===== */
footer {
    position: relative;
    margin-top: 176px;
    padding-left: clamp(24px, 3.96vw, 76px);
    padding-right: clamp(8px, 5vw, 97px);
    font-weight: normal;
    font-style: normal;
    font-size: clamp(16px, 1.25vw, 24px);
    line-height: 1.3;
    letter-spacing: 0;
}

footer .top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer img {
    width: 170px;
    height: 72px;
}

footer .navigation {
    display: flex;
    gap: 146px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.media {
    display: flex;
    gap: 87px;
    margin-left: 100px;
}

footer .bottom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    font-size: clamp(10px, 1.25vw, 18px);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 56px;
}

footer .bottom-footer div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 39px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #A1A1A3;
    margin-bottom: 8px;
}

.bg-footer {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.bg-footer.left {
    left: 0;
}

.bg-footer.right {
    right: 0;
}